page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
// image {
//     width: 100%;
//     margin-bottom: -6rpx;
// }

.btn {
    display: block;
    height: 70rpx;
    width: 200rpx;
    border: 2rpx solid #333;
    color: #333;
    line-height: 70rpx;
    text-align: center;
    font-size: 28rpx;
}

button {
    border-radius: 0;
}
button::after {
    border-radius: 0;
    border: none;
}
.center {
    text-align: center;
}
