.page-main {
  .swiper {
    margin-top: 30rpx;

    .swiper-item {
      height: 300rpx;
      background: #ccc;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}