.textarea-inner {
  .textarea {
    width: 100%;
    height: 160rpx;
    padding: 10rpx;
    box-sizing: border-box;
    font-size: 24rpx;
    border: 1rpx solid #000;

    .placeholder {
      color: #999;
      font-size: 24rpx;
      font-weight: 400;
    }

    .value {
      color: #000;
      font-size: 24rpx;
      font-weight: 400;
      word-wrap: break-word;
      overflow: hidden;
    }
  }

  &.ios {
    .placeholder {
      margin: 10rpx 15rpx;
    }

    .value {
      margin: 10rpx 15rpx;
    }
  }

  &.android {
    .placeholder {
      margin: -2rpx;
    }

    .value {
      margin: -2rpx;
    }
  }
}