.popup {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: flex;
    .popup-backdrop {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .5);
    }
    &.popup--center {
        justify-content: center;
        align-items: center;
        .popup-content {
            min-width: 300rpx;
            min-height: 100rpx;
            background: #fff;
        }
    }
    &.popup--top {
        align-items: flex-start;
        .popup-content {
            min-width: 100%;
            min-height: 100rpx;
            background: #fff;
        }
    }
    &.popup--bottom {
        align-items: flex-end;
        .popup-content {
            min-width: 100%;
            min-height: 100rpx;
            background: #fff;
        }
    }
    &.popup--left {
        justify-content: flex-start;
        .popup-content {
            min-width: 100rpx;
            min-height: 100%;
            background: #fff;
        }
    }
    &.popup--right {
        justify-content: flex-end;
        .popup-content {
            min-width: 100rpx;
            min-height: 100%;
            background: #fff;
        }
    }
}




// 淡进淡出
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animate__fade_in {
    animation: fadeIn ease .5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animate__fade_out {
    animation: fadeOut ease .5s forwards;
}

// 从底部进入
@keyframes slideDownOut {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
}

.animate__slideDown_out {
    animation: slideDownOut ease .5s forwards;
}

@keyframes slideDownIn {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.animate__slideDown_in{
    animation: slideDownIn ease .5s forwards;
}



// 顶部进入
@keyframes slideUpOut {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
}

.animate__slideUp_out {
    animation: slideUpOut ease .5s forwards;
}

@keyframes slideUpIn {
    0% {
        opacity: 0;
        transform: translate3d(0, -50%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.animate__slideUp_in{
    animation: slideUpIn ease .5s forwards;
}


// 左侧进入
@keyframes slideLeftOut {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 0;
        transform: translate3d(-50%, 0, 0);
    }
}

.animate__slideLeft_out {
    animation: slideLeftOut ease .5s forwards;
}

@keyframes slideLeftIn {
    0% {
        opacity: 0;
        transform: translate3d(-50%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.animate__slideLeft_in{
    animation: slideLeftIn ease .5s forwards;
}



// 右侧进入
@keyframes slideRightOut {
    0% {
        opacity: 1;
        transform: translateZ(0);
    }
    to {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }
}

.animate__slideRight_out {
    animation: slideRightOut ease .5s forwards;
}

@keyframes slideRightIn {
    0% {
        opacity: 0;
        transform: translate3d(50%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.animate__slideRight_in{
    animation: slideRightIn ease .5s forwards;
}