.page-main {
  padding: 40rpx;
  display:block;
  box-sizing: border-box;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30rpx;

    .left {
      font-size: 28rpx;
      color: #000;
      font-weight: 500;
    }

    .right {
      button {
        background-color: transparent;
        border-bottom: 1rpx solid #000;
        font-size: 24rpx;
      }
    }
  }

  .content {
    padding-bottom: 30rpx;

    .field {
      padding-bottom: 20rpx;
      display: block;
    }
  }

  /*
    ***********订购人信息***********
    */
  .personal-information {
    .content {
      .field-inner {
        display: flex;
        margin: 0 -5rpx;

        .item {
          flex: 1;
          padding: 0 5rpx;

          button {
            height: 66rpx;
            line-height: 66rpx;
            background-color: #000;
            color: #fff;
          }
        }
      }
    }
  }
  /*
    ***********收件人信息***********
    */

  .receiver-information {}

  /*
    ***********发票信息***********
    */
  .invoice-information {
    .content {
      .first-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30rpx;

        .radio-group-inner {
          display: flex;

          .item {
            width: 180rpx;
          }
        }

        button {
          background-color: transparent;
          border-bottom: 1rpx solid #000;
          font-size: 24rpx;
        }
      }
    }
  }

  /*
    ***********收票信息***********
    */

  .invoice-information {}


  /*
    ***********商品详情***********
    */
  .product-information {
    .content {
      .item {
        display: flex;
        padding: 20rpx 0;
        border-bottom: 1rpx solid #f0f0f0;

        .box:first-child {
          flex: 1;
          font-size: 0;
        }

        .box:last-child {
          flex: 2;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 10rpx 20rpx;
          font-size: 24rpx;

          text {
            display: block;
          }

          .desc {
            text:first-child {
              font-size: 28rpx;
            }
          }

          .quantity {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }

  /*
    ***********结算相关息***********
    */

  .footer-information {
    .field:nth-child(1) {
      display: flex;
      justify-content: space-between;
      padding: 30rpx 0;
      font-size: 28rpx;
      font-weight: 500;
    }

    .field:nth-child(2) {
      padding: 30rpx 0;

      .field-inner {
        display: flex;
        align-items: center;
        font-size: 24rpx;
      }
    }

    .field:nth-child(3) {
      padding: 30rpx 0;

      button {
        height: 100rpx;
        line-height: 100rpx;
        background-color: #000;
        color: #fff;
      }
    }
  }
}