.tabs {
  display: flex;
  height: 100rpx;
  text-align: center;
  z-index: 1000;
  font-size: 22rpx;
  background-color: #fff;
  border-top: 1rpx solid #fff;

  .tab-item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;

    .tab-box {
      >.icon {}

      >.text {
        line-height: 1.5;
        color: #cccccc;
      }

      &.active {
        >.icon {}

        >.text {
          color: #000000;
        }
      }
    }
  }

  .tab-item:nth-child(1) {
    width: 40%
  }
}

.icon {
  position: relative;
  display: inline-block;
  width: 50rpx;
  /*default*/
  height: 50rpx;
  /*default*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.icon-home {
  width: 270rpx;
  left: -110rpx;
  background-image: url('../../assets/images/icon/tablogo.png');
}

.icon-cart {
  background-image: url('../../assets/images/icon/gouwudai.png');
}

.icon-order {
  background-image: url('../../assets/images/icon/dingdan.png');
}

.icon-kefu {
  background-image: url('../../assets/images/icon/kefu.png');
}
